<%= form_for(@bridge) do |f| %>
  <% if @bridge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bridge.errors.count, "error") %> prohibited this bridge from being saved:</h2>
      <ul>
      <% @bridge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="panel panel-default" >
    <div class="form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Bridge No:" %><br>
      <%= f.text_field :BridgeNo, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :Location %><br>
      <%= f.text_field :Location, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Inspected By" %><br>
      <%= f.text_field :InspectedBy, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Inspection Date:" %><br>
      <%= f.date_select :InspectDate, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Previous Inspection Date:" %><br>
      <%= f.date_select :LastInspectDate, class: "form-control" %>
    </div>    
    <div class="form-group">
      <%= f.label "Chicago Viaduct No:" %><br>
      <%= f.text_field :ChiViaNo, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "DOT Crossing No:" %><br>
      <%= f.text_field :DotCrossNo, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Year Built" %><br>
      <%= f.number_field :Built, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :Type %><br>
      <%= f.text_field :Type, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Length(ft):" %><br>
      <%= f.number_field :Length, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "No. and Type of Spans:" %><br>
      <%= f.text_field :NoTypeSpan, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Last Repairs:" %><br>
      <%= f.text_field :LastRepairs, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Repair Priority:" %><br>
      <%= f.number_field :RepairPriority, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "General Conditions:" %><br>
      <%= f.text_field :GenCond, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Walkway Rating" %><br>
      <%= f.number_field :Walkway, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Walkway Comments:" %><br>
      <%= f.text_field :ComWalkway, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Handrail Rating:" %><br>
      <%= f.number_field :Handrail, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Handrail Comments:" %><br>
      <%= f.text_field :ComHandrail, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Track Rating:" %><br>
      <%= f.number_field :Track, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Track Comments:" %><br>
      <%= f.text_field :ComTrack, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Ballast Rating:" %><br>
      <%= f.number_field :Ballast, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Ballast Comments:" %><br>
      <%= f.text_field :ComBallast, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Deck Rating:" %><br>
      <%= f.number_field :Deck, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Deck Comments:" %><br>
      <%= f.text_field :ComDeck, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Floor System Rating:" %><br>
      <%= f.number_field :FloorSystem, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Floor System Comments:" %><br>
      <%= f.text_field :ComFloorSystem, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Through Girder Rating:" %><br>
      <%= f.number_field :ThruGirder, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Through Girder Comments:" %><br>
      <%= f.text_field :ComThruGirder, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Cross Girder Rating:" %><br>
      <%= f.number_field :Xgirder, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Cross Girder Comments:" %><br>
      <%= f.text_field :ComXGirder %>
    </div>
    <div class="form-group">
      <%= f.label "Stringer Rating:" %><br>
      <%= f.number_field :Stringer, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Stringer Comments:" %><br>
      <%= f.text_field :ComStringer, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Bearing Rating:" %><br>
      <%= f.number_field :Bearing, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Bearing Comments:" %><br>
      <%= f.text_field :ComBearing, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Column/Pier Rating:" %><br>
      <%= f.number_field :ColPier, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Column/Pier Comments:" %><br>
      <%= f.text_field :ComColPier, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Caps Rating:" %><br>
      <%= f.number_field :Caps, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Caps Comments:" %><br>
      <%= f.text_field :ComCap, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Posts Rating:" %><br>
      <%= f.number_field :Post, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Posts Comments:" %><br>
      <%= f.text_field :ComPost, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Bases Rating:" %><br>
      <%= f.number_field :Bases, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Bases Comments:" %><br>
      <%= f.text_field :ComBase, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Abutments Rating:" %><br>
      <%= f.number_field :Abut, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Abutments Comments" %><br>
      <%= f.text_field :ComAbut, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Backwalls Ratings" %><br>
      <%= f.number_field :BackWall, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Backwalls Comments:" %><br>
      <%= f.text_field :ComBackWall, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Seats Rating:" %><br>
      <%= f.number_field :Seat, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Seats Comments:" %><br>
      <%= f.text_field :ComSeat, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Paint Rating:" %><br>
      <%= f.number_field :Paint, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Paint Comments:" %><br>
      <%= f.text_field :ComPaint, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Last Painted:" %><br>
      <%= f.date_select :LastPaint, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Lighting Rating:" %><br>
      <%= f.number_field :Light, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Lighting Comments:" %><br>
      <%= f.text_field :ComLight, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Lighting Maintained By:" %><br>
      <%= f.text_field :MaintLight, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Endposts Rating:" %><br>
      <%= f.number_field :Endpost, max: 8, min: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Endposts Comments:" %><br>
      <%= f.text_field :ComEndpost, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit %>
    </div>
</div>
<% end %>
